[submodule "ROSS"]
	path = ROSS

	url = https://github.com/carothersc/ROSS.git


[submodule "lua"]
	path = lua
	url = https://github.com/markplagge/lua.git
	branch = lua-5.1

[submodule "libs/model_reader/extern/json"]
	path = libs/model_reader/extern/json
	url = https://github.com/nlohmann/json.git
[submodule "src/fcfs/lib/catch2"]
	path = src/fcfs/lib/catch2
	url = https://github.com/catchorg/Catch2.git
