*.aux
*.svg
/doxygen/*
*.tex

*.md5

*.pdf

*.html

*.map

*.png

*.js

*.xml

*.swp

.ycm_extra_conf.py

.ycm_extra_conf.py_old

.ycm_extra_conf.pyc

*.css

docs/latex/doxygen.sty

docs/latex/Makefile

compile_commands.json

*.iml

.idea/NeMo.iml

.idea/NeMo.iml


\.idea/

__pycache__/

cmake-build-debug/bin/

cmake-build-debug/

cmake-build-release/src/

cmake-build-release/

cmake-build-debug
cmake-build-release
.idea/

src/lib/


scripts/__pycache__/
scripts/ol_api/t1\.csv

scripts/tn_api/__init__.pyc

*.pyc

scripts/\.DS_Store

\.DS_Store
