*.aux
*.svg
/doxygen/*
*.tex

*.md5

*.pdf

*.html

*.map

*.png

*.js

*.xml

*.swp

.ycm_extra_conf.py

.ycm_extra_conf.py_old

.ycm_extra_conf.pyc

*.css

docs/latex/doxygen.sty

docs/latex/Makefile

compile_commands.json

*.iml

.idea/NeMo.iml

.idea/NeMo.iml


\.idea/

__pycache__/

cmake-build-debug/bin/

cmake-build-debug/

cmake-build-release/src/

cmake-build-release/

cmake-build-debug
cmake-build-release
.idea/

cmake-build*


scripts/__pycache__/
scripts/ol_api/t1\.csv

scripts/tn_api/__init__.pyc

*.pyc

scripts/\.DS_Store

\.DS_Store

build/

*.nfg1
scripts/cf100_spike.csv
scripts/ex1_spike.csv
nemo_spike.csv
*.sqlite
*.sfcp
*.tnbm
*.bin
*.mat
*.conf

scripts/dumpi_virt-0_rnk0\.txt

scripts/results\.log

scripts/testtbl1

scripts/test/NM/mnist_neil_filter\.json

scripts/test/th_corelet_net_decoderParams\.json

scripts/test/th_corelet_net_encoderParams\.json

scripts/test/th_corelet_net_filter\.json

scripts/test/neil2/mnist_neil2_filter\.json

scripts/test/NM/

\.vscode/

scripts/old_api_csv/ol_api/

scripts/sobel/sobelTiles_filter\.json

scripts/sobel/sobelTiles\.json

scripts/test/cifar100/

scripts/test/neil2/

scripts/analysis/spike_accuracy/test_data/cifar_model/

scripts/spike_analysis/spike_accuracy/\.spyproject/

scripts/spike_analysis/spike_analysis\.egg-info/

scripts/spike_analysis/spike_accuracy/test_data/

scripts/spike_analysis/dask-worker-space/

scripts/spike_analysis/spike_accuracy/test_data.tar.xz
