*.aux
*.svg
/doxygen/*
*.tex

*.md5

*.pdf

*.html

*.map

*.png

*.js

*.xml

*.swp

.ycm_extra_conf.py

.ycm_extra_conf.py_old

.ycm_extra_conf.pyc

*.css

docs/latex/doxygen.sty

docs/latex/Makefile

compile_commands.json

*.iml

.idea/NeMo.iml

.idea/NeMo.iml

cmake-build-debug
cmake-build-release
.idea/

src/lib/

*.pyc

scripts/__pycache__/
