test_data/** filter=lfs diff=lfs merge=lfs -text
test_data.tar.xz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_0.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_51.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_8.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_10.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_2.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_59.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_5.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_25.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_31.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_39.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_40.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_9.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_26.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_53.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_58.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_63.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_61.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_6.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/ross.csv filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_16.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_35.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_3.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_4.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_11.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_20.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_27.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_55.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_15.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_30.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_42.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_56.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_1.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_22.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_23.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_36.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_46.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_57.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_60.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/th_corelet_net_spikes0.json.xz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_12.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_19.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_21.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_37.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_50.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_29.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_47.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/th_corelet_net_outputSpikes0.sfcp filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_52.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_54.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_24.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_43.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_44.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_62.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_45.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_7.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_13.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_28.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_32.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_38.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_14.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_33.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_41.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_49.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_17.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_18.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_34.csv.gz filter=lfs diff=lfs merge=lfs -text
test_data/cifar_model/fire_record_rank_48.csv.gz filter=lfs diff=lfs merge=lfs -text
